# devctl
/vendor
/logs/*
!/logs/README.md

node_modules
dist/


# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules

# gluegen
glued/ts
glueddb/sql
glueddb/pg
gluedfiles/ts
gluedrpcserver/ts
gluedrpcclient/ts

