# devctl
/vendor
/logs/*
!/logs/README.md

node_modules
dist/

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules

# codegen
dev/*/**/_codegen.ts

# networking
dev/networking/devproxiedbrowser
!dev/networking/devproxiedbrowser/README.md

#
.config/
!.config/Code/User/keybindings.json