# devctl
/vendor
/logs/*
!/logs/README.md

node_modules
dist/


# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules

# gluegen
dev/glued/ts
dev/glueddb/sql
dev/glueddb/pg
dev/gluedfiles/ts
dev/gluedrpcserver/ts
dev/gluedrpcclient/ts

